body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #fff7ec;
    color: #4a3f35;
    margin: 0;
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header h1{ /*responsive to screenwidth*/
    font-weight:600;
    font-size: clamp(1.3rem, 7vw,3.8rem);
    white-space: nowrap;
    overflow: hidden;
    color:#3c2f2f;
    letter-spacing:1px;
    text-shadow: 2px 3px 0px rgba(0,0,0,0),
    0px 0px 4px, rgba(255,240,200,0.6);
    background: linear-gradient(90deg,#ffcc8f,#ffe7c2);
    padding: 10px 0;
    margin: 1rem 0 0.5rem 0;
}

#message{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #6a5648;
    min-height:1.5em;
}

#startBtn{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight:600;
    cursor: pointer;
    background-color:#ffcc8f;
    color:  #4a3f35;
    border:none;
    border-radius:12px;
    box-shadow: 0px 4px 0px #e5a96c;
    padding: 10px 25px;
    transition: all 0.2s ease;
}
#startBtn:hover{
    transform: translateY(-2px);
    box-shadow: 0px, 6px,0px,#e5a96c;
}
#startBTn:active{
    transform:translateY(2px);
    box-shadow:0px 2px 0px #e5a96c;
}
#startBtn.reset{
    background-color: #ffc8c8;
    box-shadow: 0px 4px 0px #e09e9e;
}

#imageContainer{
    position:relative;
    width: min(90vw, 350px);
    height: 400px;
    overflow: hidden;
    border-radius:20px;
    box-shadow:0px, 6px,20px, rgba(0,0,0,0.25);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #fffaf3;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
}
#imageContainer.favourites{
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: #fff3e1;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    padding: 10px;
    justify-items: center;
    height:auto;
    min-height: 300px;
    justify-content: center;
}
#imageContainer.favourites img{
    width:45%;
    margin: 5px;
    border-radius: 15px;
    transition: transform 0.2s ease;
}
#imageContainer.favourites img:hover{
    transform: scale(1.1);
}
@keyframes fadeIn {
    to{opacity:1;}
}

#image-Container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:20px;
    transition: transform 0.3s ease box-shadow 0.3s ease;
    user-select: none;
}
.swipe-right{
    animation: swipeLeft 0.3s ease forwards;
}
@keyframes swipeRight{
    to{
        transform: translate(400px) rotate(20deg);
        opacity:0;
    } 
}
.swipe-left{
    animation: swipeLeft 0.3s ease forwards;
}
@keyframes swipeLeft{
    to{
        transform: translate(-400px) rotate(-20deg);
        opacity:0;
    } 
}
.swipe-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    opacity:0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
}