body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color:beige;
}

button{
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color:bisque;
    border-radius:8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
button:hover{
    transform: scale(1.05);
    background-color: #f7c8a1;
}
.reset{
    padding:8px 24px;
    font-size:12px;
    background-color:aquamarine;
    border-radius:8px;
}

#imageContainer{
    position:relative;
    margin-top: 30px;
    display: inline-block;
    justify-content: center;
}
#imageContainer.favourites{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
}
#imageContainer.favourites img{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:16px;
    animation: fadeIn 0.5s ease forwards;
    opacity:0;
    transition: transform 0.3s ease;
}
#imageContainer.favourites img:hover{
    transform: scale(1.1);
}
@keyframes fadeIn {
    to{opacity:1;}
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius:20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2 ease;
}
.swipe-right{
    transform: translateX(80px) rotate(5deg);
    opacity:0;
}
.swipe-left{
    transform: translateX(-80px) rotate(-5deg);
    opacity:0;
}
.swipe-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    font-size: 60px;
    font-weight: bold;
    opacity:0;
    transition: all 0.2s ease;
    pointer-events: none;
}