body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color:beige;
}

button{
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color:bisque;
    border-radius:8px;
}
.reset{
    padding:8px 24px;
    font-size:12px;
    background-color:aquamarine;
    border-radius:8px;
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius:20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}